/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #333;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #ef4242;
}

.scrolled {
    background-color: #1e0f7d !important;
}

main {
    padding-top: 60px; /* Ensure content is not hidden behind the fixed header */
}

section {
    padding: 60px 20px;
    height: 100vh;
}
